<nav role="navigation" class="navigation column">
  <div class="wrapper clearfix">

    <div class="logo-copyright column">
      <img class="logo" src="/assets/img/particl-logo-dark.svg" alt="Particl.io">
      <p class="copyright">&copy; 2017&ndash;{{ 'now' | date: "%Y" }} Particl Project</p>
    </div>

    
  
    <ul class="menu">
      <li class="category">
        <span class="label">{% t menu.introduction.title %} {{ currentlang }}</span>
        <ul class="submenu">
          <!-- Example of different permalink: <li><a href="{% if site.lang == 'fr' %}{% translate_link whyparticl fr %}{% else %}{% translate_link whyparticl %}{% endif %}">{% t menu.introduction.whyparticl %}</a></li> -->
          <li><a href="{{ site.baseurl }}/why-particl/">{% t menu.introduction.whyparticl %}</a></li>
          <li><a href="{{ site.baseurl }}/coin-specifications/"><!-- <span class="desktop-only">Coin</span> --> {% t menu.introduction.specifications %}</a></li>
          <li><a href="https://particl.news" target="_blank">{% t menu.introduction.latestnews %}</a></li>
          <li><a href="{{ site.baseurl }}/press/">{% t menu.introduction.press %}</a></li>
          <li><a href="{{ site.baseurl }}/roadmap/">{% t menu.introduction.roadmap %}</a></li>
        </ul>
      </li>
      <li class="category">
        <span class="label">{% t menu.marketplace.title %}</span>
        <ul class="submenu">
          <li><a href="{{ site.baseurl }}/marketplace/">{% t menu.marketplace.about %}<span class="desktop-only"> {% t menu.marketplace.features %}</span></a></li>
          <li><a href="{{ site.baseurl }}/marketplace/buy/">{% t menu.marketplace.buyers %}</a></li>
          <li><a href="{{ site.baseurl }}/marketplace/sell/">{% t menu.marketplace.sellers %}</a></li>
        </ul>
      </li>
      <li class="category">
        <span class="label get-particl">{% t menu.getparticl.title %}</span>
        <ul class="submenu">
            <li class="full-width"><a class="download-button" href="/downloads/">{% t menu.getparticl.downloads %}</a></li>
            <li><a href="{{ site.baseurl }}/part-exchanges/">{% t menu.getparticl.exchanges %} <span class="tag">{% t menu.new %}</span></a></li>
            <li><a href="{{ site.baseurl }}/subscribe/">{% t menu.getparticl.subscribe %}</a></li>
            <li><a href="{{ site.baseurl }}/events/">{% t menu.getparticl.events %}</a></li>
        </ul>
      </li>
      <li class="category">
        <span class="label">{% t menu.resources.title %}</span>
        <ul class="submenu">
          <li><a href="{{ site.baseurl }}/user-guides/">{% t menu.resources.userguide %}</a></li>
          <li><a href="https://particl.wiki" target="_blank">{% t menu.resources.wiki %}</a></li>
          <li><a href="https://particl.wiki/support/start" target="_blank">{% t menu.resources.faq %}</a></li>
          <li><a href="{{ site.baseurl }}/whitepapers/">{% t menu.resources.whitepapers %}</a></li>
          <li><a href="{{ site.baseurl }}/proposals/">{% t menu.resources.proposals %}</a></li>
          <li><a href="{{ site.baseurl }}/bug-bounties/">{% t menu.resources.bugbounties %}</a></li>
          <li><a href="https://explorer.particl.io" target="_blank">{% t menu.resources.blockexplorer %}</a></li>
          <!-- <li class="footer-only"><a href="https://portal.particl.io/login" target="_blank">Account (Swap)</a></li> -->
        </ul>
      </li>
      <li class="category">
        <span class="label">{% t menu.about.title %}</span>
        <ul class="submenu">
          <li><a href="{{ site.baseurl }}/about-us/">{% t menu.about.aboutus %}</a></li>
          <li><a href="{{ site.baseurl }}/team/">{% t menu.about.team %}</a></li>
          <!--li><a href="/careers/">Careers</a></li-->
          <li><a href="{{ site.baseurl }}/status-report/">{% t menu.about.statusreport %}</a></li>
          <li><a href="{{ site.baseurl }}/contact/" class="mail">{% t menu.about.contact %}</a></li>
        </ul>
      </li>
      <li class="category mobile-only header-only">
        <span class="label">Social</span>
      </li>
      <li class="category">
        {% if site.lang == "en" %}
          <span class="label">{% t langs.en %}</span>
          <ul class="submenu">
            <li><a href="{{ site.baseurl_root }}/fr{{ page.url}}">{% t langs.fr %}</a></li>
            <li><a href="{{ site.baseurl_root }}/de{{ page.url}}">{% t langs.de %}</a></li>
          </ul>
        {% elsif site.lang == "fr" %}
          <span class="label">{% t langs.fr %}</span>
          <ul class="submenu">
            <li><a href="{{ site.baseurl_root }}{{ page.url}}">{% t langs.en %}</a></li>
            <li><a href="{{ site.baseurl_root }}/de{{ page.url}}">{% t langs.de %}</a></li>
          </ul>
        {% elsif site.lang == "de" %}
          <span class="label">{% t langs.de %}</span>
          <ul class="submenu">
            <li><a href="{{ site.baseurl_root }}{{ page.url}}">{% t langs.en %}</a></li>
            <li><a href="{{ site.baseurl_root }}/fr{{ page.url}}">{% t langs.fr %}</a></li>
          </ul>
        {% endif %}
      </li>
    </ul>

  </div><!-- .wrapper -->

  {% include social-icons.html %}

</nav><!-- nav.navigation -->