---
layout: default
---

<section class="page-title centered">
	<div class="row">
		<div class="large-8 large-centered column">
      {% tf introduction/why-particl/intro.md %}
		</div>
	</div>
</section><!-- .page-title -->

<hr />

<section class="economy" id="core-values">
  <div class="row">
		<div class="columns">
      <h1 class="text-center header-line-height" data-aos="fade-down">{% tf introduction/why-particl/a-new-economy/title %}</h1>
    </div>
  </div>
	<div class="row">
		<div class="part large-offset-2 large-4 small-12 columns">
			<p class="large" data-aos="fade-right">
        {% tf introduction/why-particl/a-new-economy/right-side %}
      </p>
		</div>

		<div class="part large-4 columns">
			<p class="large" data-aos="fade-left">
        {% tf introduction/why-particl/a-new-economy/left-side %}
      </p>
		</div>
	</div>
</section>

<section class="feature-list row">
  <div class="column">
    <div class="small-block-grid-1 medium-block-grid-2 large-block-grid-3">

      <div class="item">
        <div class="content">
          {% tf introduction/why-particl/features/opensource.md %}
        </div>
      </div>

      <div class="item">
        <div class="content">
          {% tf introduction/why-particl/features/secure.md %}
        </div>
      </div>

      <div class="item">
        <div class="content">
          {% tf introduction/why-particl/features/private.md %}
        </div>
      </div>

      <div class="item">
        <div class="content">
          {% tf introduction/why-particl/features/decentralized.md %}
        </div>
      </div>
      
      <div class="item">
        <div class="content">
          {% tf introduction/why-particl/features/governance.md %}
        </div>
      </div>

      <div class="item">
        <div class="content">
          {% tf introduction/why-particl/features/currency-agnostic.md %}
        </div>
      </div>

      <div class="item">
        <div class="content long">
          {% tf introduction/why-particl/features/protocol-agnostic.md %}
        </div>
      </div>
      
      <div class="item">
        <div class="content long">
          {% tf introduction/why-particl/features/scalable.md %}
        </div>
      </div>

      <div class="item">
        <div class="content long">
          {% tf introduction/why-particl/features/passive-income.md %}
        </div>
      </div>

      <div class="item">
        <div class="content medium">
          {% tf introduction/why-particl/features/privacy-smart-contract.md %}
        </div>
      </div>

      <div class="item">
        <div class="content medium">
          {% tf introduction/why-particl/features/mobility.md %}
        </div>
      </div>

      <div class="item">
        <div class="content medium">
          {% tf introduction/why-particl/features/academic-review.md %}
        </div>
      </div>

    </div>
  </div>
</section>

<section class="cta">
  <a href="/coin-specifications/" class="hollow button">PART specifications &amp; features</a>
  <a href="/downloads/" class="full button">Download &amp; Explore</a>
</section>

{% include particl-desktop.html %}

{% include dive-deeper.html %}
